
<h3 class="sc-gZMcBi iVbbth" style="text-align: center; font-family: Lato, sans-serif; background-color: rgba(5,4,2,0.1);padding: 0.5rem 0px; border-top: 0.2rem solid rgb(37, 42, 55); border-bottom: 0.2rem solid rgb(37, 42, 55);">@ViewBag.count/@Session["TotalQuestion"]</h3>
